# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
crash.log

# Docker
*.log
.docker/

# Misc
.DS_Store
